body{
  background-image: linear-gradient(to right,rgb(167, 110, 5),red);
  

}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height:15vh;
  margin:15px
}

.butt{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:15vh;
  
}
.para{
 color: aqua;


}
.h11{

 
}